<h1>Admin#main</h1>
<hr />

<hr />
<!-- REF=> http://stackoverflow.com/questions/8684467/button-to-with-get-method-option-in-rails -->
Create word lists<%= button_to "Go", :controller => "admin", :action => "word_list"%>
